<div class="container">
    <div class="login">
        <h4 class="text-center mb-3">Gestion Tareas</h4>
        <form [formGroup]="formularioLogin" (ngSubmit)="submitForm()">
            <div class="mb-3">
                <label for="inputUsuario" class="form-label">Usuario</label>
                <input type="text" formControlName="usuario" name="usuario" class="form-control" id="inputUsuario" aria-describedby="usuario" autocomplete="username" placeholder="Ingrese aquí su usuario">
            </div>
            <label for="clave" class="form-label">Contraseña</label>
            <div class="input-group">
                <input class="form-control" type="password" name="clave" formControlName="clave" autocomplete="current-password" required placeholder="Ingrese aquí su contraseña">
            </div>
            
            <div class="d-grid gap-2 mt-4">
                <button type="submit" class="btn color-boton" [disabled]="formularioLogin.invalid">
                    Iniciar Sesion
                </button>
                <button type="submit" class="btn color-boton"> Registrarse </button>
            </div>
        </form>
    </div>
</div>
